html {
  font-size: 15px; }

.navbar {
  width: 100%;
  background: none; }
  @media (max-width: 34em) {
    .navbar {
      background: black; } }
  .navbar .navbar-toggler {
    cursor: pointer;
    outline: 0;
    border: none; }
  .navbar .nav-item {
    padding: 0 1rem; }
    @media (max-width: 34em) {
      .navbar .nav-item {
        padding: 0; } }
    @media (max-width: 34em) {
      .navbar .nav-item .nav-link {
        font-weight: normal;
        color: #fff !important; } }
