html {
	font-size: 15px; //fixed base font size
}
html, body {
  height: 100%;
  margin: 0;
}
.fullscreen {
  position: relative;
  display: flex;
  min-width: 100%;
  min-height: 100%;
  align-items: stretch;

}
.center-content {
  @media screen and (min-width: 35em) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.logo-img {
  width: 2em;
}
.btn {
  border: 2px solid transparent;
  transition: border 0s, margin 250ms;
}
.btn:hover {
  border: 2px solid rgba(0,0,0,0.25);
}
.btn:active {
  -webkit-animation: shrink 250ms ease-in-out;
          animation: shrink 250ms ease-in-out;
}
.btn-soundcloud {
  color: white;
  background-color: #ff5500;
}
.btn-soundcloud:hover {
  color: white;
    -webkit-animation: heartbeat 1.07s ease-in-out infinite both;
            animation: heartbeat 1.07s ease-in-out infinite both;
}

.navbar {
	width: 100%;
	background: none;
	
	@media(max-width:34em) {
		background: black;
	}
	
	.navbar-toggler {
		cursor: pointer;
		outline: 0;
		border: none;
	}
	
	.nav-item {
		padding: 0 1rem;
		
		@media(max-width: 35em) {
			padding: 0;
		}

		.nav-link {
          font-weight: bolder;
          font-size: 1.5em;
			@media(max-width: 34em) {
              color: #fff !important;
              text-align: center;
			}
		}
	}
}
.hero {
  background: linear-gradient(rgba(74, 66, 63, 1), rgba(74, 66, 63, 0.0)), url('../assets/bg.jpg') no-repeat;
  background-position: 0 60%;
  background-size: cover;
  h1 {
    font-size: 3.5em;
    font-weight: bold;
  }
}
//Animation keyframes

@keyframes shrink {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  to {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}